{% extends TEMPLATE_BASE %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} &mdash; 关注Twitter?</h2>
{% endblock %}


{% block content %}

<div style="font-size: 1.2em;">
我们推荐你关注 <b>@{{user_to_follow}}</b>.<br /><br />
因为{{reason_to_follow}}. 我们不会滥用这种友谊：只有与您相关的消息才会直接发送给您，一般更新只是偶尔发生.
</div>
<br /><br />
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<span style="font-size: 1.3em;">
<input type="checkbox" name="follow_p" value="1" checked>
follow @{{user_to_follow}}
<br /><br />
<input type="submit" value="continue" />
</span>
</form>

{% endblock %}
