{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>关于Helios投票系统</h2></div>

<div class="row">
<p>Helios是一个由<a href="http://ben.adida.net">Ben Adida</a>领导的无党派组织.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<h5>代码贡献者</h5>

Ben Adida, Olivier de Marneffe, Olivier Pereira
</div>
<div class="row">&nbsp;</div>
<div class="row">
<h5>Advisors</h5>
</div>

<div class="row"><h6 class="subheader">Jim Adler</h6>
<p>
Jim 是商业主管、企业家以及统领数据、隐私、安全和投票系统的思想领袖，他创办了公司，明确愿景和战略，领导团队，开发技术，以及构建产品.
</p>
<p>
目前，Jim是大数据Metanautix的产品副总裁，一个刚起步的大数据分析公司。此外他还在国土部工作，安全（DHS）数据隐私和完整性咨询委员会（DPIAC）就任，应国土安全部长的要求提供建议和国土安全部首席隐私官. [<a href="http://jimadler.me/about">more</a>]
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Lawrence Lessig</h6>
<p>
劳伦斯·莱斯格（Lawrence Lessig）是哈佛大学爱德蒙·J·萨夫拉基金会伦理中心主任，哈佛法学院法学教授。Lessig在学术生涯的大部分时间里都专注于法律和技术，尤其是因为它影响版权。他目前的学术工作涉及“机构腐败”问题——粗略地说，就是影响经济的影响力，削弱了机构的有效性，或削弱了公众的信任。他目前在EJ Safra实验室工作，负责监督一个为期5年的研究项目，该项目涉及多个机构环境中的机构腐败问题.[<a href=“http://www.lessig.org/info/bio/“>更多</a>]</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Josh Benaloh</h6>
<p>
Dr. Benaloh 是微软研究院的高级密码学家以及国际密码研究协会当选理事。他在麻省理工学院获得了理学学士学位，在耶鲁大学获得了理工硕士、菲尔硕士和哲学博士学位，1987年他的博士论文《可验证的秘密选票选举》介绍了同态加密的使用，以实现端到端可验证的选举技术。Benaloh博士在密码学和投票方面的大量研究出版物开创了新技术，包括“投或取消”范式，该范式使选民以最小的负担进入验证过程。他曾在数十个密码学和选举相关会议和研讨会的项目委员会任职，并经常就可验证投票背后的历史、发展和机制发表演讲.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Andy Neff</h6>
<p>
Neff博士对计算机算法的研究做出了一些开创性的贡献，特别是当它们应用于投票协议时。在担任首席技术官的VoteHere，Neff博士创造了第一种有效的投票混合和匿名技术，可用于实际应用，开发了一种新的投票代表，允许在不影响隐私的情况下将投票规模减少几个因素，并引领了VoteHero选举产品的技术愿景。Neff博士定期在顶级投票会议的项目委员会任职，并持有普林斯顿大学数学博士学位.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Olivier Pereira</h6>
<p>
Olivier Pereira是比利时科学基金会F.R.S.-FNRS的研究助理，也是卢瓦尔天主教大学的副教授。他的研究兴趣在于密码学和分布式计算领域，研究如何让人们以安全的方式共同完成任务。他在几次大规模选举中领导了Helios的开发、整合和部署，并就全球十几家主要机构的可核查选举进行了受邀演讲和主题演讲。他是为比利时联邦和地区政府编制的电子投票系统Bevoting研究报告的合著者.</p>
</div>

<div class="row"><h6 class="subheader">Dan Wallach</h6>
<p>
Dan Wallach是德克萨斯州休斯顿莱斯大学计算机科学系副教授，也是NSF ACCURATE（正确、可用、可靠、可审核和透明选举中心）的主任。他的研究涉及计算机安全以及为互联网构建安全可靠的软件系统的问题。他曾在美国、墨西哥和欧盟的政府机构就投票安全问题作证，曾在多起投票技术诉讼中担任专家证人，并参与了加利福尼亚州对其投票系统的“自上而下”审计.</p>
</div>

</div>


{% endblock %}
