{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>Helios提供<b>可验证在线选举</b>.</p>

<p>我们相信民主很重要，无论是你的读书俱乐部、家长教师协会、学生政府、工会还是国家。因此，我们已经使真正可核查的选举与网络上的其他一切一样容易.</p>

<p>
Helios选举:
<ul class="disc">
<li><b>隐私的</b>: 没有人知晓你进行的投票.</li>
<li><b>可验证的</b>: 每个选民都拥有一个选票追踪码.</li>
<li><b>经过证实的</b>: Helios是开源的，由顶级专家审查，并被主流组织认可使用的.</li>
</ul>

<p>
超过<b>2,000,000选票</b>通过Helios系统投出.
</p>

{% if create_p %}
<a class="button" href="{% url "elections@new" %}">创建选举</a>
{% endif %}

  {% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> by {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>暂无选举</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">创建选举</a>
<h5 class="subheader">管理员</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>暂无</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">查看所有</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">近期参与投票</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>暂无</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">查看所有</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>登录进行投票</h5>
{{login_box|safe}}
{% else %}
<p>
选择要开始投票的选举.完成投票后，您将被要求提供投票凭证.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
