{% if election.voting_has_started %}
  {% if not election.voting_has_stopped %}

<div id="cast_form">
<form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
{% if status_update_label %}
<div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
<input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />
<blockquote style="font-size: 1.3em;">
"{{status_update_message}}"
</blockquote>
<input type="hidden" name="status_update_message" value="{{status_update_message}}" />
</div>
<br />
{% endif %}

登录为 <u>{{voter.display_html_big|safe}}</u><br /><br />

    <button type="submit" class="large">提交此选票</button>
    <span style="font-size:0.8em;"><br />你可以进行任意次数的投票.<br />仅最后一次会被计入.</span>
</form>

<p>
    <button class="tiny" onclick="if (confirm('Are you sure you want to clear this ballot and NOT cast it?')) {document.location='{% url "election@view" election.uuid %}';}">取消</button><br />
    <span style="font-size:0.8em;">如果你点击取消，那么你的选票将不会被记录.<br />
    当然，你可以重新开始投递选票.</span>
</p>

<!-- for now, for CSRF protection, no auto-submit just yet (benadida) -->
<!-- <script>$('#cast_confirm_form').submit()</script> -->

</div>
  {% else %}
<p style="font-size:1.4em;">
  抱歉，选举已经结束.
</p>
  {% endif %}
{% else %}
<p style="font-size:1.4em;">
  抱歉，选举暂未开始.
</p>
{% endif %}
