<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{password_login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
错误的选民ID或者密码，请重试.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="authenticate &amp; cast ballot" />
<p class="small">
  你的选民ID和密码可以在你收到的邮件中找到.
  如果你无法找到你的登录相关信息，请邮件联系你的选举管理员<tt>{{election.help_email}}</tt>.
</p>
<p class="small">
你可以进行任意次的投票，只有最后一次被计入.
</p>
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>
</div>


