{% extends TEMPLATE_BASE %}
{% block title %}确认投票{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; 选票成功投出!</h1>

{% if vote_hash %}
<p>
  你的选票追踪器:<br />
    <span style="font-size:1.4em; font-weight: bold; word-break: break-word;">  {{vote_hash}}</span>
</p>
<p>
  选票追踪器可以确保你的选票被精准地计入. 你可以通过<a href="{% url "election@voters@list-pretty" election.uuid %}">选民列表</a>查看所有的选票追踪器, 稍后你的选票追踪器也会出现在此处.
</p>
{% endif %}

{% if logout %}
<p><b>为了安全，你也被自动登出.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
[ <a href="{% url "election@view" election.uuid %}">返回选举详情页</a> ]
</p>

{% endblock %}
