{% extends TEMPLATE_BASE %}

{% block title %}计算{{election.name}} - 加密计票{% endblock %}

{% block content %}
  <h2 class="title">计算选举的选票: {{election.name}}</h2>

<div id="instructions">
{% if election.num_cast_votes %}
<p>
    您将要计算选举<b>{{election.name}}</b>的加密计数.
</p>

<p>
    一旦开始计算，将无法再进行投票.
</p>

<form method="post" action="" onsubmit="alert('ok, tally has begun')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="计算加密计数!" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">别在意</button>
</form>
{% else %}
<p>
这次选举没有投票，在计算总数之前，必须至少投一票.<br /><br />
<a href="{% url "election@view" election.uuid %}">返回选举详情页</a>
</p>
{% endif %}
</div>

<br /><br />
{% endblock %}
