{% extends TEMPLATE_BASE %}
{% block title %}确认投票{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "你还没有投票！如果你想计票，请确保完成投票过程.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<h1>别离开此页面<br />你的选票还未被投递.</h1>

<div id="waiting_div">
    验证并且投出选票<br />
    <img src="/static/helios/loading.gif" />
</div>

<div style="word-wrap: break-word; width: 90vw;">
你的选票追踪码:<br>
<b>{{vote_fingerprint}}</b>
<br><br>
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Sorry!<h1>
<b>抱歉, 你 <em>
  {% if election.openreg %}
    <u>没有资格</u></em> 在此次选举中进行投票.
  {% else %}
    还未注册</em>到此次选举, 并且注册流程已经关闭.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">返回选举主页面</a>]
</p>
{% else %}
<p>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   此次选举对任何人开放, 请登录任何你喜欢的账户进行投票.
  {% endif %}

{% else %}
  此次选举仅开放给注册用户, 请使用与注册时相同的账号进行投票.
{% endif %}
</p>

{{login_box|safe}}

<br />
别担心，当你登录的时候我们会记住你的选票.
{% endif %}

{% endif %}
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
