{% extends TEMPLATE_BASE %}

{% block title %}{{election.name}}的已审计选票{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; 已审计选票 <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">返回选举详情页</a>]</span></h2>

<p>
当您使用Helios准备选票时，您会立即收到一个选票跟踪器。在您选择投票之前，您可以要求Helios“破解”加密的选票，并验证Helios是否正确加密了您的选票。完成后，您可以将打开的选票张贴在此处，在经审核的选票列表上，供所有人验证（不包括您的身份）。一旦你这样做了，你必须重新加密你的选择，并获得一个不同的选票跟踪器。这有助于减少有人强迫你投票与真实选择不同的可能性.
</p>

<p>
这些选票不被投出，也不会被计算在内，只是为了审计目的，抽查Helios是否正确加密了选民的选择.
</p>

<p>
  为了验证一张经过审计的选票, 可以复制其全部内容并粘贴到<a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">单一选票验证器</a>.
</p>

{% if audited_ballots %}
<p>
经过审计的选票 {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">往后 {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="?">返回初始页</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">往后 {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">view</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>暂无经审计过的选票</em>
{% endif %}

{% endblock %}
