{% extends TEMPLATE_BASE %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div style="float: left; margin-right: 50px;">
  <h3 class="title">{{ election.name }}
{% if admin_p %}
{% if not election.frozen_at %}
<small><a class="small button" href="{% url "election@edit" election.uuid %}">编辑</a></small>
{% endif %}
{% endif %}</h3>
<p style="padding-top:0px; margin-top:0px">
<em>{% if election.private_p %}private{%else%}public{% endif %}</em> {{ election.election_type }}{% if settings.SHOW_USER_INFO %} created by <u><b>{{election.admin.display_html_small|safe}}</b></u>{% endif %}
{% if election.is_archived %}
[archived]
{% endif %}
{% if admin_p %}
&nbsp;{% if election.is_archived %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">不归档</a>{% else %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">归档</a>{% endif %}
<a class="small button" onclick="return window.confirm('Are you sure you want to copy this election?');" href="{% url "election@copy" election_uuid=election.uuid %}">拷贝</a>
{% endif %}
<br />
{% if admin_p %}
{% if not election.private_p %}
{% if election.featured_p %}
    {{election.election_type}} 在首页上有.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">取消显示</a>]
{% endif %}
{% else %}
    {{election.election_type}} 在首页上没有.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">显示</a>]
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>

</div>


<br />

<br clear="left" />

<div style="margin-bottom: 25px; line-height: 1.3;">
{{election.description_bleached|safe}}
</div>

<p>
{% if election.help_email and admin_p%}帮助邮件地址: {{election.help_email}}<br />{% endif %}
{% if election.voting_start_at %}选举在 {{election.voting_start_at}}开始<br />{% endif %}
{% if election.voting_end_at %}选举在 {{election.voting_end_at}}结束<br />{% endif %}
</p>

{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">下载候选人简历以及陈述</a>]</p>
{% endif %}

<p align="center" style="font-size: 1.5em;">
<a href="{% url "election@questions" election.uuid %}">选举项 ({% if election.questions %}{{election.questions|length}}{% else %}0{% endif %})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@voters@list-pretty" election.uuid %}">选民 &amp; 选票</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@trustees@view" election.uuid %}">受托人 ({{trustees|length}})</a>
</p>

{% if admin_p %}
{% if election.frozen_p %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#badgebody').slideToggle(250);">嵌入选举徽章</a>
<div id="badgebody" style="display:none;">
<br />
<form action="#">
<textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
&lt;/iframe&gt;</textarea><br />
<p style="font-size:0.8em;">将此HTML添加到您的站点会显示一个带有投票直接链接的细横幅.</p>
</form>
</div>
</div>
{% endif %}
<p>

{% if election.result_released_at %}

<!-- election complete, no next step -->

{% else %}
<b>下一步:</b>
<span style="font-size: 1.3em;">
{% if not election.frozen_at %}
{% if election.issues_before_freeze %}
{% for issue in election.issues_before_freeze %}
{{issue.action}}{% if forloop.last %}{% else %}, and{% endif %}<br />
{% endfor %}
{% else %}
<a href="{% url "election@freeze" election.uuid %}">冻结选票并开始选举.</a>
<br />
{% if election.voting_starts_at %}
一旦你这样做了，选举就可以投票了，并且会于<br />
 {{election.voting_starts_at}}自动开始.
{% else %}
一旦你这样做了，选举会马上开启.
{% endif %}
{% endif %}

{% else %}

{% if not election.encrypted_tally %}
{% if election.tallying_started_at %}
计数计算正在进行中.<br />
稍后请重新刷新页面.
{% else %}
<a href="{% url "election@compute-tally" election.uuid %}">计算加密计数</a><br />
加密的选票将合并为加密的计票，完成后，<br/>
受托人将被要求提供他们的解密份额.
{% endif %}
{% else %}

{% if election.result %}
<a href="{% url "election@release-result" election.uuid %}">公布结果</a><br />
如下展示的结果当前只对你可见.<br />
一旦你公布结果，那么对任何人都可见.
{% else %}

{% if election.ready_for_decryption_combination %}
<a href="{% url "election@combine-decryptions" election.uuid %}">
{% if election.num_trustees == 1 %}
计算结果
{% else %}
合并受托人解密和计算结果
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
结果将被计算并仅显示给管理员.
{% else %}
受托人的解密份额将合并并计算总数<br/>
一旦您这样做，计数将只对你（管理员）可见。
{% endif %}
{% else %}
<a href="{% url "election@trustees@view" election.uuid %}">受托人（用于解密）</a>
{% endif %}

{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

<br />

{% if show_result %}
{% if election.result_released_at %}
<span class="highlight-box round">
    选举已经完成.
</span><br /><br /><br />
{% endif %}

<h3 class="highlight-box">计数</h3>
{% for question in election.pretty_result %}
<b><span style="font-size:0.8em;">Question #{{forloop.counter}}</span><br />{{question.question}}</b><br />
<table class="pretty" style="width: auto;">
{% for answer in question.answers %}
<tr><td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.answer}}</td><td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.count}}</td></tr>
{% endfor %}
</table>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    选举已关闭，结果将很快公开.
</span><br /><br />
{% else %}

{% if election.voting_has_started %}
<a class="button" href="{{test_cookie_url}}">为{{election.election_type}}投票</a>
<br />
<br />
{% if election.voting_extended_until %}
此选举 {{election.election_type}} 最初被设定在 {{election.voting_ends_at}} (UTC)结束,<br />
但现在被延期至 {{ election.voting_extended_until }} (UTC)结束.
{% else %}
{% if election.voting_ends_at %}
<br />
此选举 {{election.election_type}} 最初被设定在 {{election.voting_ends_at}} (UTC)结束.
{% else %}
此选举 {{election.election_type}} 由管理员自行决定终止.
{% endif %}
<br />
{% endif %}

{% if election.private_p and voter %}
<br />
此选举是私有的. 你当前登录为有资格的选民，名字是 <em>{{voter.name}}</em>.
{% endif %}

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
  你的浏览器中没有安装java.<br />当前阶段，Helios需要java.<br />
  查看 <a target="_new" href="http://java.sun.com">java.sun.com</a> 并下载.
</div>
<br />
{% else %}
<span class="highlight-box round">
  选举暂未开始
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  您已注册投票 {{election.election_type}}.
{% if election.use_voter_aliases %}
  你的别称 {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
你有资格在此选举中进行投票.
{% else %}
你<em>没有资格</em>在此选举 {{election.election_type}} 中投票.
{% endif %}
{% else %}
你<em>没有资格</em>在此选举 {{election.election_type}} 中投票.
<br />
{% endif %}
{% endif %}
{% endif %}
{% else %}

{% if election.openreg %}
{% if election.eligibility %}
此选举对于以下选民开放: {{election.pretty_eligibility|safe}}
<a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">登录</a> 来验证是否有资格.
{% else %}
任何人都可进行投票.
{% endif %}
{% endif %}

{% endif %}

{% endif %}

{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
<br /><a href="{% url "election@extend" election.uuid %}">延长选举</a><br />
{% endif %}

<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">审核信息</a>
<div id="auditbody" style="display:none; word-wrap: break-word;">
<br />选举链接:<br />
<a href="{{election.url}}">{{election.url}}</a>

{% if election.frozen_at %}
<br />
<br />选举认证码:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>你的选票追踪器:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url "election@voters@list-pretty" election.uuid %}">选票追踪中心</a> &nbsp;| &nbsp;
<a href="{% url "election@audited-ballots" election.uuid %}">已审核选票</a>
</p>

{% endif %}

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <br>
  <a href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">预览</a>
</p>
{% endif %}  

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verify <a target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">选举计数</a>.
{% endif %}

查看 <a href="{{vote_url}}">选举预览</a>.
</p>

{% endif %}

</div>
</div>




{% endblock %}
