{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; 冻结选票</h2>
<p>
一旦选举被冻结，就不能再修改问题、选项和受托人.<br />
</p>

<p>
{% if election.openreg %}
    您的选举登记目前是<b>开放的</b>，这意味着任何人都可以投票，即使您冻结了投票.
{% else %}
您的选举登记目前<b>已关闭</b>，这意味着只有您指定的选民才能投票。作为管理员，您仍可以在选举过程中修改该选民列表.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
在联系选民前必须将选票进行冻结.
</p>
{% endif %}

{% if issues_p %}
<p>
    在冻结选举前，你需要做:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">返回选举详情页</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Freeze the ballot" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">不进行冻结</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
