{% extends TEMPLATE_BASE %}

{% block title %}{{election.name}} - 选民资格{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; 选民资格 <span style="font-size:0.7em;">[<a href="{% url "election@voters@list-pretty" election.uuid %}">返回选民页</a>]</span></h2>

<p>
<em>{{election.pretty_eligibility|safe}}</em>
</p>

<p>
您可以将选民资格限制在以下由{{user.user_type}}定义的类别之一:
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<select name="category_id">
<option value="" SELECTED>(no constraint)</option>
{% for category in categories %}
<option value="{{category.id}}"> {{category.name}}</option>
{% endfor %}
</select>
<input type="submit" value="set eligibility" />
</form>
</ul>
{% endblock %}
