{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; 批量上传选民 &mdash; 验证<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">返回选举详情页</a>]</span></h2>

<p>
您已经上传了一个选民文件，该文件的前几行是:
</p>

<table>
<tr><th>Voter Type</th><th>Voter Login</th><th>Email Address</th><th>Name</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_type}}</td><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
稍等:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">别在意, 上传其他文件</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  这个看起来是你预期的吗?
  <input type="hidden" name="confirm_p" value="1" />
  <input type="submit" value="Yes, let's go" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">不，我要上传其他文件</a>

{% endif %}

{% endblock %}
