{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; 批量上传选民 <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">返回选举详情页</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
<p>
    如果您想按姓名和电子邮件地址指定选民名单，<br/>
    你可以在这里批量上传此类选民的名单.<br /><br />

    请准备一个如下用逗号分隔的值和字段组成的文本文件:
</p>
<pre>
   password,&lt;unique_id&gt;,&lt;email&gt,&lt;full name&gt;
</pre>
<p>
or
</p>
<pre>
   github,&lt;username&gt;
</pre>

<p>
For example:
  </p>
  <pre>
      password,bobsmith,bob@acme.org,Bob Smith
      github,benadida
      ...
  </pre> 

  <p>
    准备此类文件的最简单方法是使用电子表格程序并导出为“CSV”.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input type="submit" value="go" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, 上传完成.<br />
  现在你可以 <a href="./manage">查看选民列表</a>.
</div>

{% endblock %}
