{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; 搜索选民 '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">返回选举详情页</a>]</span></h2>

{% if voter %}
找到的选民: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">邮件联系此选民</a>
{% else %}
当选举被冻结，那么你可以通过邮件联系此选民.
{% endif %}
{% else %}
<em>找不到此选民</em>
{% endif %}

{% endblock %}